@CHARSET "UTF-8";

@import "mixins";
@import "typography";
@import "modules";

html {
	width: 100%;
	height: 100%;
}
body{
	font: 10px sans-serif $darkColor;
	background-color: #ccc;
	width: 100%;
	height: 100%;
}


#donut-chart1 {
	width: 98px;
	height: 98px;
}

