@import "typography";

@charset "utf-8";
/* CSS Document */

@mixin transition($duration,$ease:$linear,$prop:all,$delay:0)
{
  -webkit-transition: $prop $duration $delay $ease;
  -moz-transition: $prop $duration $delay $ease;
  -o-transition: $prop $duration $delay $ease;
  -ms-transition: $prop $duration $delay $ease;
  transition: $prop $duration $delay $ease;

  -moz-transition-duration: $duration;
  -moz-transition-property:$prop;
  -moz-transition-delay:$delay;
}
@mixin rounded($radius)
{
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-sizing{
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@mixin opacity($alpha)
{
  opacity: $alpha;
  -moz-opacity: $alpha;
  filter:alpha(opacity=$alpha);
}
@mixin centerH{
  left: 50%;
  @include transform(translateX(-50%));
}
@mixin centerV{
  top: 50%;
  @include transform(translateY(-50%));
}
@mixin transform($transform)
{
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

// REMOVE IF THERE IS NO 3D
@mixin transform-origin($transformOrigin)
{
  -webkit-transform-origin:$transformOrigin;
  -moz-transform-origin:$transformOrigin;
}
@mixin perspective-origin($perspective)
{
  -webkit-perspective-origin:$perspective;
  -moz-perspective-origin:$perspective;
  -o-perspective-origin:$perspective;
  perspective-origin:$perspective;
}
@mixin preserve3d{
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -o-transform-style:preserve-3d;
  transform-style:preserve-3d;
}
@mixin hideBackface{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
@mixin showBackface{
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -o-backface-visibility: visible;
  backface-visibility: visible;
}
// END REMOVE IF THERE IS NO 3D

@mixin headline-font($size)
{
  font-size: $size;
  font-family: $headline-font;
}
$headline-font: 'avg_bold', sans-serif;
@mixin body-font($size)
{
  font-size: $size;
  font-family: 'avg', 'Helvetica', sans-serif;
}

$bgColor: #fff;
$darkColor: #555558;
$pink: #D7006D;
$pink-light: #fdd5ce;
$nude: #FFB4AA;
$red: #F6323E;
$light-gray: #ccc;

$darkColor50: rgba(6, 6, 6, .50);
$highlightColor: red;
$lightColor: #dedede;
$lightColor50: rgba(223, 236, 230, .50);
$borderColor: #494547;

/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

*{
  @include box-sizing;
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing:antialiased;
}
html { font-size: 100%; width: 100%; height:100%; background: $bgColor; -webkit-font-smoothing:antialiased;-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-rendering:optimizeLegibility}
html, button, input, select, textarea { @include body-font(1em); color: $darkColor; }
body { overflow-y: scroll; margin: 0; width: 100%; height:100%; font-size: 1em; line-height: 1.4; @include body-font(16px);
}

a { color: $highlightColor; text-decoration:none; font-size: 1em;}
a:visited { color:  $highlightColor }
a:hover { color:  $darkColor }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/* ===== Primary Styles ========================================================
   Author: Nick Jones / The Experiment
   ========================================================================== */

.border{
  position: fixed;
  border: 15px solid $light-gray;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
  @include transition(.3s);
  &.white{
    border: 10px solid #fff;
  }
}
.content{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 4% 12%;
  border: 1px solid $darkColor;
}
.dots{
  position: absolute;
  bottom: 180px;
  left: 60px;
}
.dot{
  color: #ccc;
  display: inline-block;
  position: relative;
  width: 7px;
  height: 7px;
  @include rounded(50%);
  background: $light-gray;
  margin-right: 20px;
  border: 5px solid $light-gray;
  @include transition(.4s);
  &.active{
    background: $pink;
    border: 10px solid $pink;
  }
}
header{
  width: 100%;
  height: 100px;
  text-align: center;
  border: 1px solid $darkColor;
}
h1,h2,h3,h4,h5{
  font-family: $headline-font;
  font-weight: normal;
}
h1{
  font-size: 5em;
}
h2{
 font-size: 5em; 
}
h3{
  font-size: 4em;
}
h4{
  font-size: 2em;
}
h5{
  font-size: 1.5em;
}
button{
  padding: 15px 35px;
  background: $pink;
  outline: none;
  border: none;
  color: #fff;
  font-family: "avg_bold";
  margin: 1em .5em 1em 0;
  @include rounded(30px);
  text-transform: uppercase;
  letter-spacing: .1em;
  width: auto;
  display: inline-block;
  cursor: pointer;
  @include transition(.2s);
  &:hover{
    background: $red;
  }
  &.sub{
    font-size: .8em;
    color: $pink;
    background: #fff;
    border: 3px solid $pink;
    &:hover{
      color: $red;
      border-color: $red;
    }
  }
}
.checkbox-list{
  margin: 1em 0 1em;
  &.half{
    width: 30%;
    float: left;
  }
}
.checkbox{
  margin: 1em 0;
  .label{

  }
}
input[type="checkbox"]{
  margin: 0 8px 0 2px;
  top: 4px;
  float: left;
  z-index: 20;
}
.logo{
  position: absolute;
  bottom: 50px;
  left: 60px;
  opacity: 0;
  @include transition(.5s);
}
.logo-white{
  position: absolute;
  bottom: 50px;
  left: 60px;
  opacity: 0;
  z-index: 2000;
  @include transition(.5s);
}
.asterisk{
  color: $red;
  cursor: pointer;
  &:hover{
    color: $pink;
  }
}
.definition{
  display: block;
  position: absolute;
  background: $pink;
  color: #fff;
  font-size: .5em;
  padding: 20px;
  opacity: 0;
  height: 0;
  padding: 0;
  z-index: 0;
  overflow: hidden;
  @include transition(.2s);
  &.show{
    z-index: 20;
    height: auto;
    opacity: 1;
    padding: 20px 30px;
  }
}
.section-title{
  font-size: 1em;
  font-family: "avg_bold";
  z-index: 2;
}
.intro{
  width: 100%;
  padding: 10%;
}
.assessment{
  width: 70%;
  height: 100%;
  float: left;
  padding: 60px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  @include transition(.4s);
}
.assessment-intro{
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 70%;
  @include transition(.4s);
  top: 150px;
}
.education{
  position: absolute;
  width: 70%;
  height: 100%;
  top: 0;
  left: 100%;
  .education-menu{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    @include transition(1s,ease-in-out);
    &.out{
      left: 100%;
    }
  }
  .module{
    width: 100%;
    background: $darkColor;
    color: #fff;
    padding: 5% 10%;
    height: 33.333%;
    cursor: pointer;
    border-left: 10px solid #fff;
    border-top: 10px solid #fff;
    @include transition(.2s);
    &:last-of-type{
      border-bottom: 10px solid #fff;
    }
    &:hover{
      background: $red;
    }
    .how{
      font-size: 1em;
    }
    h1{
      color: #fff;
    }
  }
  .section-title{
    color: #fff;
    left: 10%;
    top: 10%;
    opacity: 0;
  }
  .pledge{
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%));
    bottom: 58px;
  }
  .vignette{
    width: 100%;
    height: 800px;
    padding-top: 600px;
  }
  .video{
    position: absolute;
    top: 0;
    width: 100000px;
    overflow: hidden;
    height: 700px;
    background: $pink;
    border-left: 10px solid #fff;
    img{
      opacity: .9;
      display: inline;
      height: 100%;
    }
  }
  .headlines{
    color: #fff;
    position: absolute;
    width: 100%;
    z-index: 12;
    top: 260px;
    height: 100%;
    h3{
      font-size: 2.5em;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      left: 10%;
      width: 80%;
      @include transition(.4s);
      &.active{
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &.in{
    left: 30%;
  }
}
.arrow{
  @include transition(.3s,ease-out);
  left: 0;
  margin-top: 1em;
}
.right-column{
  position: absolute;
  right: -30%;
  top: 0;
  width: 30%;
  height: 100%;
  color: #fff;
  z-index: 2;
  @include transition(1s,ease-in-out);
  .toggle-box{
    width: 100%;
    padding: 0 10%;
    height: 40%;
    overflow: hidden;
    width: 100%;
    background: #fff;
    @include transition(.2s,ease-out);
    cursor: pointer;
    .understand{
      position: absolute;
      height: 100%;
      width: 100%;
      padding: 55px 45px;
      background: $red;
      top: 0;
      left: 0;
      @include transition(1s,ease-in-out);
      border-bottom: 10px solid #fff;
      &:hover{
        background-color: $pink;
        .arrow{
          left: 10px;
        }
      }
    }
    .assess{
      position: absolute;
      height: 100%;
      width: 100%;
      background: $nude;
      color: $pink;
      padding: 45px;
      left: calc(-100% - 10px);
      border-bottom: 10px solid #fff;
      top: 0;
      padding-top: 50px;
      @include transition(1s,ease-in-out);
      &:hover{
        background-color: $pink-light;
        .arrow{
          left: -10px;
        }
      }
    }
  }
  .fact-group{
    float: right;
    padding: 45px;
    height: 60%;
    width: 100%;
    overflow: hidden;
    .education-facts,
    .assessment-facts{
      background: $pink;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      padding: 45px;
      @include transition(1s,ease-in-out);
    }
    .education-facts{
      font-size: 1.4em;
      left: calc(-100% - 10px);
      .q-num{
        font-family: 'avg_bold';
      }
    }
    .fact{
      h4{

      }
    }
  }
  &.in{
    right: 0;
  }
  &.left{
    right: 70%;
    @include transition(1s,ease-in-out);
    .understand{
      left: calc(100% + 10px);
    }
    .assess{
      position: absolute;
      width: 100%;
      left: 0;
    }
    .fact-group{
      .assessment-facts{
        left: calc(100% + 10px);
      }
      .education-facts{
        left: 0;
      }
      .fact{
        h4{

        }
      }
    }
  }
}
.question,.vignette{
  position: absolute;
  display: block;
  top: 0;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  @include transition(.5s,ease-out);
  .prompt{
    width: 80%;
    //font-family: 'avg';
    font-size: 2em;
  }
  &.in{
    @include transition(1s,ease-out,all,.5s);
  }
  padding: 60px 0;
}
.question{
  @include transform(translateY(50px));
  top: 0px;
}
.in{
  visibility: visible;
  opacity: 1 !important;
  @include transform(translateY(0));
  @include transition(1s,ease-in-out);
}
.out-up{
  visibility: hidden;
  opacity: 0;
  @include transform-origin(50% 200%);
  @include transform(perspective(1000px) translateY(-40px));
  @include transition(.5s,ease-in);
}
footer{
  width: 100%;
  height: 100px;
  border: 1px solid $darkColor;
  display: none;
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
